﻿@model Comment
<div class="card" id="@Model.Id" style="min-height: 100px">
    <div class="d-flex bd-highlight">
        <div class="p-2 bd-highlight">
            <img class="d-flex mr-3 rounded-circle" style="max-height: 50px" src="@Model.ApplicationUser.Image" alt="">
        </div>
        <div class="p-2 flex-grow-1 bd-highlight">

            <h5 class="mt-0"><a asp-controller="Account" asp-action="UserAccount" asp-route-id="@Model.ApplicationUserId">@Model.ApplicationUser.UserName</a></h5>

            <p>@Model.Text</p>
        </div>
        <div class="p-2 bd-highlight">
            @if ((ViewBag.IsAuthor!=null)&&(ViewBag.IsAuthor))
            {
                <a class="deletecomment" data-id="@Model.Id" style="float: right"><img src="https://ucarecdn.com/2f3b2eb7-109a-47c8-bb46-8c8e5ca9e1cf/delete.png" /></a>
            }
            <div class="like" data-id="@Model.Id"><span class="counter"></span></div>
        </div>
    </div>
</div>
  