﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyProject</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <!--  <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css" />-->
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        UPLOADCARE_PUBLIC_KEY = '74dd696e2d6100c7e3ff';
        UPLOADCARE_LOCALE = 'ru';
        UPLOADCARE_TABS = 'file camera url facebook gdrive dropbox instagram skydrive vk';
        UPLOADCARE_EFFECTS = 'crop';
        UPLOADCARE_IMAGES_ONLY = true;
    </script>

    <script src="https://ucarecdn.com/libs/widget/3.6.1/uploadcare.full.min.js"></script>
    <script src="https://ucarecdn.com/libs/widget-tab-effects/1.x/uploadcare.tab-effects.js"></script>
    <script>
        uploadcare.registerTab('preview', uploadcareTabEffects)
    </script>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
            <a class="navbar-brand" asp-action="List" asp-controller="Note">Конспекты</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarCollapse" style="">               
                <form class="form-inline mx-auto" asp-area="" asp-controller="Search" asp-action="SearchList" method="post">
                    <input id="searchtext" name="text" class="form-control mr-sm-2" type="text" placeholder="Найти.." aria-label="Search">
                    <button id="searchbutton" class="btn btn-outline-success my-2 my-sm-0">Найти</button>
                </form>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </nav>
    </header>
    <div class="container" style="margin-top: 75px">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        @RenderBody()
        <hr />

    </div>
    <a class="addnote btn btn-outline-success" asp-action="Create" asp-controller="Note"><img src="https://ucarecdn.com/7546e73b-feb0-4563-8dda-1d3da4a0ff0c/add.png" /></a>
    <footer></footer>

    @RenderSection("Scripts", required: false)

</body>
</html>
