﻿@using Microsoft.AspNetCore.Identity
@using MyProject.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    @if(await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "admin"))
    {
        <a asp-controller="Admin" asp-action="Index">Управление пользователями</a>
    }
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a asp-area="" asp-controller="Account" asp-action="Index" class="nav-link" title="Страница">@UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item">
                <button type="submit" class="btn btn-outline-secondary">Выйти</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="btn btn-outline-secondary" asp-area="" asp-controller="Account" asp-action="Login">Вход</a></li>
    </ul>
}