﻿@model Note
<div class="card mb-4">
   
    <div class="card-body">
        <h2 class="card-title">@Model.Name</h2>
        <p class="card-text">@Model.Description</p>
        <a asp-controller="Note" asp-action="Note" asp-route-id="@Model.Id" class="btn btn-primary">Читать</a>
    </div>
    <div class="card-footer text-muted">
        Добавлено @Model.Date.ToShortDateString() пользователем
        <a asp-controller="Account" asp-action="UserAccount"  asp-route-id="@Model.ApplicationUserId">@Model.ApplicationUser.UserName</a>
    </div>
</div>


