﻿@model ApplicationUser
<div class="card" id="@Model.Id">
    <div class="card-body">
        <div class="d-flex bd-highlight mb-3">
            <div class="mr-auto p-2 bd-highlight">
                <a asp-controller="Account" asp-action="UserAccount" asp-route-id="@Model.Id">@Model.UserName</a>
                @Model.Email
            </div>            
            <div class="d-flex justify-content-end">
                @if (Model.UserIsLocked)
                {<a class="status btn btn-xs btn-success" data-id="@Model.Id">Разблокировать</a> }
                else
                { <a class="status btn btn-xs btn-warning" data-id="@Model.Id">Заблокировать</a>}
                <a class="delete btn btn-xs btn-danger" data-id="@Model.Id">Удалить</a>

                <a class="makeadmin btn btn-light" data-id="@Model.Id">Назначить администратором</a>
            </div>
        </div>
    </div>
</div>       
