﻿@model RoleModel

<div class="m-1 p-1 bg-light text-dark"><h4>Администраторы</h4></div>
<div class="text-danger" asp-validation-summary="ModelOnly"></div>
<table class="table table-sm table-bordered">
    <tr><th>Name</th><th>Email</th><th></th><th></th></tr>
    @if (Model.Admin.Count() == 0)
    {
        <tr><td colspan="3" class="text-center">No User Accounts</td></tr>
    }
    else
    {
        foreach (ApplicationUser user in Model.Admin)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <a class="btn btn-xs btn-danger" asp-action="Delete" asp-route-id="@user.Id">Удалить</a>
                </td>
                <td>
                    @if (user.UserIsLocked)
                    {<a class="btn btn-xs btn-warning" asp-action="Unlocked" asp-route-id="@user.Id"><img src="https://ucarecdn.com/7148c9c0-5f2e-4638-9bc1-c8c7c123da19/padlock3.png" /></a> }
                    else
                    { <a class="btn btn-xs btn-success" asp-action="Locked" asp-route-id="@user.Id"><img src="https://ucarecdn.com/36593047-a84c-4203-9bfa-d90a09c0efe9/padlockunlock2.png" /></a>}
                </td>
            </tr>

        }
    }
</table>
<div class="m-1 p-1 bg-light text-dark"><h4>Пользователи</h4></div>
<div class="text-danger" asp-validation-summary="ModelOnly"></div>
<table class="table table-sm">
    <tr><th>Name</th><th>Email</th><th></th><th></th></tr>
    @if (Model.NotAdmin.Count() == 0)
    {
        <tr><td colspan="3" class="text-center">No User Accounts</td></tr>
    }
    else
    {
        foreach (ApplicationUser user in Model.NotAdmin)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <a class="btn btn-xs btn-danger" asp-action="Delete" asp-route-id="@user.Id">Удалить</a>
                </td>
                <td>
                    @if (user.UserIsLocked)
                    {<a class="btn btn-xs btn-warning" asp-action="Unlocked" asp-route-id="@user.Id"><img src="https://ucarecdn.com/7148c9c0-5f2e-4638-9bc1-c8c7c123da19/padlock3.png" /></a> }
                    else
                    { <a class="btn btn-xs btn-success" asp-action="Locked" asp-route-id="@user.Id"><img src="https://ucarecdn.com/36593047-a84c-4203-9bfa-d90a09c0efe9/padlockunlock2.png" /></a>}
                </td>
            </tr>

        }
    }
</table>