﻿@model IEnumerable<ApplicationUser>
<h2>Пользователи</h2>
<div id="usersDiv">
    @foreach (ApplicationUser user in Model)
    {
        <div >
            @Html.Partial("_UserPartial", user)
        </div>
    }
</div>
<a class="btn btn-success">Администраторы</a>
<script>
    $(function () {
        $('#usersDiv').on('click','a.status', function () {
            var id = $(this).data('id');
            $.ajax({
                url: '@Url.Action("ChangeStatus", "Admin")',
                type: 'POST',
                async: true,
                data: {
                    Id: id
                },
                success: function (data) {
                    if (data) {
                        var newel = document.getElementById(id);
                        $(newel).replaceWith(data);
                    }
                    
                }
            })
        })
        $('#usersDiv').on('click','a.delete', function () {
            var id = $(this).data('id');           
            $.ajax({
                url: '@Url.Action("Delete", "Admin")',
                type: 'POST',
                async: true,
                data: {
                    Id: id
                },
                success: function (data) {  
                    var elem = document.getElementById(id);
                    $(elem).replaceWith(data);     
                },
                
            })
        })
    });

</script>
