﻿@model RoleModel

<div id="allUsersDiv">
    <div id="usersDiv" >
        <h2>Пользователи</h2>

        @foreach (ApplicationUser user in Model.NotAdmin)
        {
            <div>
                @Html.Partial("_UserPartial", user)
            </div>
        }
    </div>
    <div id="adminsDiv">
        <h2>Администраторы</h2>

        @foreach (ApplicationUser user in Model.Admin)
        {
            <div>
                @Html.Partial("_AdminPartial", user)
            </div>
        }
    </div>

</div>

<script>
    $(function () {
        $('#allUsersDiv').on('click', 'a.status', function () {
            var id = $(this).data('id');
            $.ajax({
                url: '@Url.Action("ChangeStatus", "Admin")',
                type: 'POST',
                async: true,
                data: {
                    Id: id
                },
                success: function (data) {
                    if (data) {
                        var newel = document.getElementById(id);
                        $(newel).replaceWith(data);
                    }

                }
            })
        });
        $('#allUsersDiv').on('click', 'a.delete', function () {
            var id = $(this).data('id');
            $.ajax({
                url: '@Url.Action("Delete", "Admin")',
                type: 'POST',
                async: true,
                data: {
                    Id: id
                },
                success: function (data) {
                    var elem = document.getElementById(id);
                    $(elem).replaceWith(data);
                },

            })
        });
        $('#usersDiv').on('click', 'a.makeadmin', function () {
            var id = $(this).data('id');
            $.ajax({
                url: '@Url.Action("MakeAdmin", "Admin")',
                type: 'POST',
                async: true,
                data: {
                    Id: id
                },
                success: function (data) {
                    $("#adminsDiv").append(data);
                    var elem = document.getElementById(id);
                    $(elem).remove();
                },

            })
        });
        $('#adminsDiv').on('click', 'a.removefromadmin', function () {
            var id = $(this).data('id');
            $.ajax({
                url: '@Url.Action("RemoveFromAdmin", "Admin")',
                type: 'POST',
                async: true,
                data: {
                    Id: id
                },
                success: function (data) {
                    $("#usersDiv").prepend(data);
                    var elem = document.getElementById(id);
                    $(elem).remove();
                },

            })
        });
    });

</script>