﻿@model ApplicationUser

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
           <p>@Model.UserName</p>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
            <textarea rows="3" asp-for="AboutUser" placeholder="Краткое описание" class="form-control"></textarea>
        </div>
    </div>    
    <input asp-for="Image" value="" type="hidden"
           role="uploadcare-uploader"
           name="Image"
           data-crop="free"
           class="btn btn-dark" />

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Сохранить</button>
        <a asp-controller="Note" asp-action="List" class="btn btn-secondary">Отмена</a>
    </div>
</form>
<script>
    var widget = uploadcare.SingleWidget('[role=uploadcare-uploader]');
    widget.onChange(function (file) {
        if (file) {
            file.done(function (info) {
                widget.val = info.cdnUrl;
            });
        };
    });
</script>