﻿@model ExternalLoginViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>
<h4>Связать учетную запись с @ViewData["LoginProvider"]</h4>
<hr />

<p class="text-info">
    Вы успешно прошли регистрацию с помощью <strong>@ViewData["LoginProvider"]</strong>.
    Пожалуйста, введите имя для этого сайта и нажмите кнопку "Продолжить" чтобы завершить вход.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <!--    <div class="form-group">
             <label asp-for="Email"></label>
             <input asp-for="Email" class="form-control" />
             <span asp-validation-for="Email" class="text-danger"></span>
         </div>-->
            <div class="form-group">
                <label asp-for="Name">Имя</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Продолжить</button>
        </form>
    </div>
</div>


