﻿@inject UserManager<ApplicationUser> UserManager
@model ApplicationUser
@{
    ViewData["Title"] = "UserAccount";
}
<div class="row">

    <div class="col-md-8 mx-auto">
        <div class="d-flex justify-content-center">
            <div class="card border-light mb-3" style="max-width: 20rem;">
                <div class="card-header">@Model.UserName</div>

                <div class="card-body">
                    <h4 class="card-title"><img class="d-flex mr-3 rounded-circle " style="max-height: 120px" src="@Model.Image" alt=""></h4>
                    <p class="card-text">@Model.AboutUser</p>
                </div>
                @if ((ViewBag.IsCurrentUser)||(await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "admin")))
                {
                    <a asp-controller="Account" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-xs btn-danger">Редактировать</a>
                }
            </div>
        </div>

        <h2>Конспекты:</h2>
        @foreach (Note n in Model.Notes)
        {
            @Html.Partial("_NotePartial", n)
        }

    </div>
</div>