﻿@model Note
@{
    ViewBag.Title = "Редактирование";
}


<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ApplicationUserId" />
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
            <label asp-for="Name">Название</label>
            <div><span asp-validation-for="Name" class="text-danger"></span></div>
            <input asp-for="Name" type="text" placeholder="Название" class="form-control" />
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
            <label asp-for="Description">Краткое описание</label>
            <div><span asp-validation-for="Description" class="text-danger"></span></div>
            <textarea rows="3" asp-for="Description" placeholder="Краткое описание" class="form-control"></textarea>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
            <label asp-for="Text">Содержание</label>
            <div><span asp-validation-for="Text" class="text-danger"></span></div>
            <textarea rows="6" asp-for="Text" placeholder="Содержание" class="form-control"></textarea>
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
            <label asp-for="NumberSpecialty">Номер специальности</label>
            <div><span asp-validation-for="NumberSpecialty" class="text-danger"></span></div>
            <input asp-for="NumberSpecialty" type="number" min="1" max="12" placeholder="Номер специальности" class="form-control" />
        </div>
    </div>
    <input asp-for="Image" value="" type="hidden"
           role="uploadcare-uploader"
           name="Image"
           data-crop="free"
           class="btn btn-dark" />

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Сохранить</button>
        <a asp-action="List" class="btn btn-secondary">Отмена</a>
    </div>
</form>
<script>
    var widget = uploadcare.SingleWidget('[role=uploadcare-uploader]');
    widget.onChange(function (file) {
        if (file) {
            file.done(function (info) {
                widget.val = info.cdnUrl;
            });
        };
    });
</script>