﻿
@model NoteListViewModel

<div class="row">
    
    <div class="col-md-8 mx-auto">
        @foreach (var n in Model.Notes)
        {
            @Html.Partial("_NotePartial", n)
        }
        <div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-secondary"
             page-class-selected="btn-primary" class="btn-group pull-right m-1">
        </div>
    </div>

</div>

