﻿@inject SignInManager<ApplicationUser> SignInManager

@model Note

<div class="row">
    <div class="col-lg-8 mx-auto">
        <h1 class="mt-4">@Model.Name</h1>
        <p class="lead">
            Автор:
            <a asp-controller="Account" asp-action="UserAccount" asp-route-id="@Model.ApplicationUserId">@Model.ApplicationUser.UserName</a>
        </p>
        <hr>
        <p>Добавлено @Model.Date.ToShortDateString()</p>
        
        <img class="img-fluid rounded" src="@Model.Image" alt="">
        <hr>
        @if ((ViewBag.IsAuthor != null) && (ViewBag.IsAuthor))
        {
            <div>
                <a class="btn btn-outline-success" asp-controller="Note" asp-action="Edit" asp-route-noteId="@Model.Id">Редактировать</a>
                <form asp-controller="Note" asp-action="Delete" method="post" style="float:right">
                    <input asp-for="Id" type="hidden"/>
                    <button class="btn btn-danger" type="submit">Удалить</button>
                </form>
            
            </div>
        }
        <p class="lead">@Model.Description</p>
        <p>@Model.Text</p>
        <hr>
        
        @if (SignInManager.IsSignedIn(User))
        {
            <div id="commentsDiv">
                @foreach (var c in Model.Comments)
                {
                    @Html.Partial("_CommentPartial", c)
                }
            </div>
            <div class="card my-4">
                <h5 class="card-header">Оставить комментарий:</h5>
                <div class="card-body">
                    <form asp-action="AddComment" method="post">
                        <div class="form-group">
                            <textarea id="textComment" class="form-control" rows="3" placeholder="Добавить комментарий..."></textarea>
                        </div>
                        <input type="hidden" asp-for="@Model.Id" id="noteId" value="@Model.Id" />
                    </form>
                    <button class="btn btn-primary" id="addcommentbutton">Добавить</button>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".like").each(function () {
            var link = $(this);
            var id = link.data("id");
            $.ajax({
                url: '@Url.Action("LikeCount", "Comment")',
                type: "POST",
                async: true,
                data: {
                    commentId: id
                },
                success: function (result) {
                    if (result) {
                        $('.counter', link).html(result);
                    }
                    else {
                        $('.counter', link).html(0);
                    }
                }
            });
            $.ajax({
                url: '@Url.Action("DidLike", "Comment")',
                type: "POST",
                async: true,
                data: {
                    commentId: id
                },
                success: function (result) {
                    if (result) {
                        link.addClass('active');
                    }
                }
            });
        });
    });

    $(function () {
        function LikeCount(id,link) {
            $.ajax({
                url: '@Url.Action("LikeCount", "Comment")',
                type: "POST",
                async: true,
                data: {
                    commentId: id
                },
                success: function (result) {
                    if (result) {
                        $('.counter', link).html(result);
                    }
                    else {
                        $('.counter', link).html(0);
                    }
                }
            });
        }
        $("#addcommentbutton").on('click', function () {
            $.ajax({
                url: '@Url.Action("AddComment","Comment")',
                type: 'POST',
                async: true,
                data: {
                    comment: {
                        NoteId: $("#noteId").val(),
                        Text: $("#textComment").val()
                    }
                },
                success: function (data) {
                    if (data) {
                        $("#commentsDiv").append(data);
                    }
                    $("#textComment").val("");
                }
            })
        })
        $("#commentsDiv").on('click','.like',function () {
            var link = $(this);
            var id = link.data("id");
            $.ajax({
                url: '@Url.Action("ChangeLike", "Comment")',
                type: "POST",
                async: true,
                data: {
                    commentId: id
                },
                success: function (result) {
                    if (result) {
                        link.addClass('active');
                    }
                    else {
                        link.removeClass('active');
                    }
                    LikeCount(id,link);
                },               
            });
            
        });
        $("#commentsDiv").on('click','.deletecomment',function () {
            var link = $(this);
            var id = link.data("id");
            $.ajax({
                url: '@Url.Action("Delete", "Comment")',
                type: "POST",
                async: true,
                data: {
                    commentId: id
                },
                success: function (data) {
                    var elem = document.getElementById(id);
                    $(elem).replaceWith(data);
                },               
            });
            
        });
    });

</script>
